<html>
  <head>
    <title>ΔDENOX | Log-in</title>
  </head>
  <body>
    <nav class="nav">
      <div class="logo">
        <h4>ΔDENOX</h4>
      </div>
    </nav>
    <div class="container">
      <form action="main.html">
        <br />
        <div class="log-box">
          <br />
          <div>
            <h1>LOGIN</h1>
            <h5>First Name Middle Name Last Name</h5>
            <input type="text" class="input" />
            <input type="text" class="input" />
            <input type="text" class="input" />
          </div>
          <div>
            <h5>Address:</h5>
            <input type="text" class="input" />
          </div>
          <div>
            <h5>Age</h5>
            <input type="text" class="input" />
          </div>
          <div>
            <h5>Gender</h5>
            <select class="Gender" id="gender" required></select>
          </div>
          <div>
            <h5>Birthday</h5>
            <input type="text" class="input" />
          </div>
          <div>
            <h5>Email Address</h5>
            <input type="text" class="input" />
          </div>
          <div>
            <h5>Mobile Number</h5>
            <input type="text" class="input" />
          </div>
          <br />
          <input type="submit" class="btn" value="Submit" />
        </div>
      </form>
      <div class="adds">
        <img
          class="adds1"
          src="https://i.pinimg.com/originals/94/0e/40/940e404626c3d1afb15497df81c6e147.png"
          alt=""
        />
      </div>
      <br />
    </div>
    <nav class="nav1">
      <div class="logo">
        <h6>Denox project 5HXC CPE6 2020</h6>
      </div>
    </nav>
  </body>
</html>
