<html>

<head>
	<title>ΔDENOX | Log-in</title>
</head>

<body>
	<nav class="nav">
		<div class="logo">
			<h4>ΔDENOX</h4>
		</div>
	</nav>
	<div class="container">
		<form action="main.html">
			<br />
			<div class="log-box">
				<br />
				<div>
					<h1>LOGIN</h1>
					<h3>NAME</h3>
					<label for="First">	First</label>
					<input  id="First" ngModel name="First" #first="ngModel" type="text" class="input" /> <br>
					<label for="Middle"> Middle</label>
					<input id="Middle" ngModel name="Middle" #middle="ngModel" type="text" class="input" /><br>
					<label for="Last"> Last</label>
					<input id="Last" ngModel name="Last" #last="ngModel" type="text" class="input" /> <br>
          </div> <br>
					<div>
						<label for="Address">	Address</label>
						<input id="Address" ngModel name="Address" #address="ngModel" type="text" class="input-add" />
          </div>
						<div>
							<label for="Age">Age</label>
							<input id="Age" ngModel name="Age" #age="ngModel" type="text" class="input" />
          </div>
							<div>
								<label for="Gender">	Gender</label>
								<select  id="Gender" ngModel name="Gender" #gender="ngModel" class="Gender" ><option *ngForm="Gender" [value]="gender">{{gender}}</option></select>
							</div>
							<div>
								<label for="Birthday">Birthday </label>
								<input id="Birthday" ngModel name="Birthday" #birthday="ngModel" type="text" class="input" />
          </div>
								<div>
									<label for="Email">Email</label>
									<input id="Email" ngModel name="Email" #email="ngModel" type="text" class="input" />
          </div>
									<div>
										<label for="Mobile"> Mobile No</label>
										<input id="Mobile" ngModel name="Mobile" #mobile="ngModel" type="text" class="input" />
          </div>
										<br />
										<input ngModel name="btn" type="submit" #btn="ngModel" class="btn" value="Submit"/>
        </div>
		</form>
		<div class="adds">
			<img
          class="adds1"
          src="https://i.pinimg.com/originals/94/0e/40/940e404626c3d1afb15497df81c6e147.png"
          alt=""
        />
      </div>
			<br />
    </div>
			<nav class="nav1">
				<div class="logo">
					<h6>Denox project 5HXC CPE6 2020</h6>
				</div>
			</nav>
</body>

</html>